<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid" id="nav-contents">
      <a class="brand" href="/discover">
        <img
        class="brand-img"
        src="/img/brand.jpg"
        alt=""
        />
      <h2 class="brand-txt">
        Meedo<span class="records-txt"> Records </span>
      </h2>
    </a>
    
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="this collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/discover"> Discover </a>
          <a class="nav-link" aria-current="page" href="/artists"> Artists </a>
          <a class="nav-link" aria-current="page" href="/"> News & Update </a>
          <a class="nav-link" aria-current="page" href="/"> About Us </a>
        </div>
      </div>
    </div>
</nav>

</header>

<!--
<header>
  <div class="header-container">
    <div class="brand">
      <img
      class="brand-img"
      src="img/brand.jpg"
      alt=""
      />
    <h2 class="brand-txt">
      Meedo<span class="records-txt"> Records </span>
    </h2>
  </div>
  <div class="links">
    <a href="/dscover">Discover</a>
    <a href="#">Albums & Singles</a>
    <a href="/artists">Artists</a>
    <a href="#">News & Updates</a>
    <a href="#">About Us</a>
  </div>
  <div id="mobile-links">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="26"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
      >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
    </svg>
    <div id="the-mob-liks">
      <a href="/discover">Discover</a>
      <a href="#">Albums & Singles</a>
      <a href="/artists">Artists</a>

      <a href="#">News & Updates</a>
      <a href="#">About Us</a>
    </div>
  </div>
</div>
</header> -->